@import "~antd/es/style/themes/default.less";

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
  background-image: url("../../assets/img/logo_light_.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.text_header {
  color: white;
  font-style: italic;
  margin-left: 12px;
  margin-bottom: 0;
}
