@import "~antd/es/style/themes/default.less";

.logo {
  width: 78px;
  height: 60px;
  border-radius: 15px;
  margin-top: 6px;
}

.text_header {
  margin-bottom: 0;
  margin-left: 10px;
  font-style: italic;
  color: white;
  font-size: 22px;
}

.btn_login {
  border-radius: 24px;
  width: 64px;
  height: 25px;
  background-color: white;
  color: #2a8ecf;
  border: none;
  line-height: 1;
  font-weight: bold;
  outline: none;
  margin-left: 16px;
}
