@import "~antd/es/style/themes/default.less";

.container {
  background-image: url("../../assets//img/background_car.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  height: 100vh;
  padding-top: 5%;
}
